# 环境变量
.env
.env.*
!.env.example

# 临时文件
static/temp/*
!static/temp/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
env/

# 日志
*.log

# IDE
.vscode/
.idea/

# GitHub 相关
.git/
*.git
.gitattributes

# 敏感信息
github_config.py 